form{
    padding: 2em; /*not stated specific padding means, its appay to all sides T,R,B,L*/
}

label{
    display: block;
    float: left;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}

textarea, input{
    display: block;
    margin-bottom: 1em;
}

#mySumbit{
    margin-left: 9.5em;
}